*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:serif;
    font-weight: normal;
}
body{
    height:100vh;
    display: flex;
    align-items: center;
   
}
 .container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.box-form{
    width:60%;
    height:90%;
  
}
.box-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height:100%;
}
.info-login{
    flex:1;
    border: 1px solid rgba(0, 0, 0, 0.4);
    
}
.title-form{
    height:40px;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0);
    padding:5px;
    font-size:14px;
}
.personal-info{
    flex:3;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-top:20px;
}
.form-action-login{
    padding:10px;

}
.form-bottom{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.form-bottom label{
    margin:0 10px 0 0;
}
#form,select{
    padding:5px 20px 5px 20px;
    color:black;
}
.form-bottom input{
    outline:0;
    border-width: 1px;
}
.form-bottom input:focus{
   

 box-shadow: 0px 0px 3px  blue;
 background-color: white;
}

#formwidthpass{
    width:102px;
    padding:5px 10px 5px 10px;
}
.form-action-personal{
    padding:10px;
    width:100%;
    flex-wrap: wrap;
}
.form-action-personal label {
    margin-bottom: 10px;
}
.row1{
    display: flex;
    justify-content: space-around;

}
.row1 label{
 width:100%;
}
.row1 #form{
   width: 100%;
}
.row2{
    display: flex;
    justify-content: space-around;
}
.row2 label{
 width: 40%;
}
.row2 #form{
    width:100%;
}
 .marginright{
    margin-right: 10px;
}
  .marginleft{
    margin-left: 10px;
}
.row3{
    display: flex;
    justify-content: space-around;
}
.row3 label {
    width: 100%;
}
.row3 #form{
    width:100%;
}
.row3 .ender{
    flex:3;
}
.row3 .cep{
    flex:1;
}
.row3 .number{
    flex:1;
}
.row4{
    display: flex;
    justify-content: space-around;
}
.row4 label{
    width: 100%;
}
.row4 #form{
    width: 100%;
}
.row5{
    display: flex;
    justify-content: space-around;
}
.row5 label,select{
    width: 100%;
}
.row5 #form{
    width: 100%;
}
@media (max-width:751px){
    body{
        display: block;
    }
    .container{
        margin-top:20px;
    }
}
@media (max-width:425px){
    .form-top label,
    .form-bottom label{
        margin:0;
        width:100%;
    }
    .form-top #form,
    .form-bottom #form{
     width:100%;
    }
    .row1,
    .row2,
    .row3,
    .row4,
    .row5{
        flex-direction: column;
    }
    .marginleft{
        margin-left: 0px;
    }
    .marginright{
        margin-right:0px;
    }
    .row2 label{
        width: 100%;
       }
   body{
       display:block;
   }
}